.mat-toolbar.mat-primary {
    background: #6202EE;
    color: #fff;
  }
  
  .card{
    background: #FFFFFF;
    max-width: 600px;
    margin: 60px auto 0;
    margin-top: 48px;
    margin-bottom: 24px;
  } 
  
  .content{
    text-transform: uppercase;
  }
  
  .mat-button{
    color: #6202EE;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  
  
  .hide  { 
    font-size: 24px;
    line-height: 28px;
    margin-top: 18px;
  }
  
  ::ng-deep .my-snack-bar .mat-simple-snackbar-action {
    color: rgb(255, 255, 255)!important;
  }
  
  ::ng-deep .mat-pseudo-checkbox-checked {
    background-color: rgba(85, 9, 226);
  }
  
  .rightA{
    position: absolute;
    right:0%;
    top:1%;
  }
  
  .rightA .mat-icon{
    color: #ffffff;
  }

  .selection{
    margin-bottom: 15px;
  }