<mat-card class="card">

  <div class="hide">Hide jokes that are...</div>

  <mat-selection-list class="selection">
    
    <mat-list-option color="primary" (click)="updateFlags('nsfw')">
        <mat-icon matListIcon>report</mat-icon>
        Not Safe for Work
    </mat-list-option>

    <mat-list-option color="primary" (click)="updateFlags('religious')">
        <mat-icon matListIcon>cloud_off</mat-icon>
        Religious
    </mat-list-option>

    <mat-list-option color="primary" (click)="updateFlags('political')">
        <mat-icon matListIcon>work_off</mat-icon>
        Political
    </mat-list-option>

  </mat-selection-list>

  <mat-divider></mat-divider>

  <mat-card-content>
    <app-child [jokes]="jokes" [flags]="flags" (markJoke)="markFavourite($event)" (markQR)="markQR($event)"></app-child>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="getDataMiscell(0)">Display Miscellaneous</button> <button mat-button (click)="getDataProg(0)">Display Programming</button>
    <button mat-button (click)="scrollUp()">Scroll Up</button>
  </mat-card-actions>
</mat-card>