<mat-card class="card">
    <ng-container *ngIf="favJokes.length>0;  else elseTemplate">
        <app-child [jokes]="favJokes" [flags]="flags" (markJoke)="markFavourite($event)" (markQR)="markQR($event)"></app-child>    
    </ng-container>
    <ng-template #elseTemplate>
        <p>{{FavTitle}}</p>
    </ng-template>
</mat-card>


