<mat-toolbar color="primary">
  <span class="title">JOKEr</span>
  <nav>
    <ng-container *ngIf="(url$|async) === '/setup'; else elseTemplate">
      <button mat-icon-button color="basic" routerLink="/" class="leftA">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </ng-container>

    <ng-template #elseTemplate>
      <button mat-icon-button color="warn" routerLink="/setup" class="rightA">
        <mat-icon>favorite</mat-icon>
      </button>
    </ng-template>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>