:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    flex-direction: column; 
    align-items: flex-start;
}

:host ::ng-deep .mat-list-base .mat-list-item {
    height: auto;
    padding: 8px 0;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-divider {
    margin-top: 16px;
    position: static !important;
    left: auto !important;
}

.category{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}

.setup{
    font-style: italic;
    margin-bottom: 16px;
}

.rightA{
    position: absolute;
    right:0;
    top: -12px;
}

.tags{
    margin-top: 15px;
}

.rightQR{
    position: absolute;
    right:30px;
    top: -12px;
}