<mat-list>
    <ng-container *ngFor="let item of jokes; let i = index; let l = last">
        <mat-list-item *ngIf="checkTheList(item, flags)">
            <div class="category">{{item.category}}</div>
            <div class="setup" *ngIf="item.joke">
                <p>{{item.joke}}</p>
            </div>
            <div class="setup" *ngIf="item.setup">
                <p>{{item.setup}}</p>
            </div>
            <p>{{item.delivery}}</p>

            <button mat-icon-button color="warn" (click)="markJoke.emit(item.id)" class="rightA">
                <mat-icon>{{item.favourite ? 'favorite' : 'favorite_border'}}</mat-icon>

            </button>
            <button mat-icon-button color="primary" (click)="markQR.emit(item.id)" class="rightQR">
                <mat-icon>{{item.qrcode ? 'add_circle' : 'add_circle_outline'}}</mat-icon>
            </button>

            <div *ngIf="item.qrcode">
                <ngx-qrcode [qrc-element-type]="elementType"
                    [qrc-value]="item.joke ? item.joke : ''.concat(item.setup, ' ', item.delivery)"></ngx-qrcode>
            </div>

            <mat-chip-list class="tags">
                <mat-chip *ngIf="item.nsfw"> nsfw</mat-chip>
                <mat-chip *ngIf="item.political">political</mat-chip>
                <mat-chip *ngIf="item.religious">religious</mat-chip>
            </mat-chip-list>
            <mat-divider *ngIf="!l"></mat-divider>
        </mat-list-item>
    </ng-container>
</mat-list>